<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ReviewHub</title>
    <link rel="stylesheet" href="./css/main.css" />
  </head>
  <body>
    <div class="wrapper">
      <header class="container">
        <span class="logo"></span>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li class="#"><a href="/about.html">About us</a></li>
            <li class="active"><a href="/profile.html">Profile</a></li>
            <li class="btn"><a href="/log.html">Log in</a></li>
            <nav class="navbar bg-body-tertiary">
              <div class="container-fluid">
                <form class="d-flex" role="search">
                  <input
                    class="form-control me-2"
                    type="search"
                    placeholder="Search"
                    aria-label="Search"
                  />
                  <button class="btn btn-outline-success" type="submit">
                    Enter
                  </button>
                </form>
              </div>
            </nav>
          </ul>
          
           
          </html>
        </nav>
      </header>
      <div class="hero container">
        <div class="inf">
          <h2>ReviewHub</h2>
          <h1>Your Profile</h1>
          <h3>Your Name:</h3>
          <p4>
            lalaalalallalalalalallalaalalalalalala
          </p4>
          
          <div class="container trending">
            <a href="#" class="see-all">SEE ALL</a>
            <h3>Subsribtions</h3>
            <div class="films">
              <div class="block">
                <img src="" alt="" />
                <span>Critic 1</span>
              </div>
              <div class="block">
                <img src="" alt="" />
                <span>Critic 2</span>
              </div>
              <div class="block">
                <img src="" alt="" />
                <span>Critic 3</span>
              </div>
              <div class="block">
                <img src="" alt="" />
                <span>Critic 4</span>
              </div>
            </div>
          </div>
          
        </div>
        <div class="imm">
          <button class="btn">Change</button>
        </div>
        <img src="" alt="No image downloaded" />
      </div>
    </div>
    <footer>
      <div class="blocks container">
        <div>
          <span class="logo">ReviewHub</span>
          <p>The best website ever</p>
        </div>
        <div>
          <h4>About us</h4>
          <ul>
            <li>Privacy Policy</li>
            <li>License</li>
            <li>Our managers</li>
            <li>Our critics</li>
          </ul>
        </div>
        <div>
          <h4>Get a contract</h4>
          <p>File a complaint</p>
          <p>Support us</p>
        </div>
      </div>
      <hr />
      <p>Coopyright * 2024 All rights recerved</p>
    </footer>
  </body>
</html>
